{erl_opts, [debug_info]}.
{plugins, [rebar3_hex]}.
{deps, [
        lager,
        lager_logstash_backend
]}.

{relx, [{sys_config, "conf/sys.config"},
         {release, {log, "1"}, [log]},
         {dev_mode, true},
         {include_erts, false},
         {extended_start_script, true}
         ]}.
