{erl_opts, [debug_info, {parse_transform, lager_transform}]}.
{plugins, [rebar3_hex]}.
{deps, [
        lager,
        {lager_logstash_backend,
         {git,"https://github.com/lambdaclass/lager_logstash_backend", {ref, "1ef21a9"}}}
]}.

{relx,
 [
  {sys_config, "./conf/sys.config"}, % default config
  {release, {prod, "0.0.1"},
   [log],
   [{dev_mode, false},
    {include_erts, true}]
  }]}.
