[
 %% Lager config
 {lager, 
  [
   {handlers,
    [
     {lager_console_backend, [{level, info}]},
     {lager_logstash_backend, 
      [
       {level,        info},
       {logstash_host, "127.0.0.1"},
       {logstash_port, 9125},
       {node_role,    "xmpp"},
       {node_version, "0.0.1"},
       {metadata, 
        [
         {account_token,  [{encoding, string}]},
         {client_os,      [{encoding, string}]},
         {client_version, [{encoding, string}]}
        ]}
      ]}
    ]}
  ]}
].
